[submodule "thems for az"]
	path = docfx_project/docfx_project/_themes
	url = https://github.com/JialinXin/DocsThemes
	branch = live
[submodule "themes for AzureRight"]
	path = docfx_project/_themes
	url = https://github.com/JialinXin/DocsThemes
	branch = live
